<div class="forms">
  <fieldset> 
      <legend><mark>CONTACT US</mark></legend>
      <form class="container" name="contact" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <table class="form-table">
      <tr>
      <td><label>Name (required) </label></td>
      <td><input type="text" name="name" placeholder="Enter Name" formControlName="name" (blur)="activateError('name')" required></td> 
      </tr>
      <tr>
          <td colspan="2">    
          <div [hidden]="!(form.controls['name'].errors && nameError)" class="formError">
              <div [hidden]="!form.controls['name'].errors.required">>>Name cannot be empty</div>
              <div [hidden]="!form.controls['name'].errors.minlength">>>Name must contain 3 characters atleast</div>
              <div [hidden]="!form.controls['name'].errors.maxlength">>>Name cannot be more than 32 characters</div>
              <div [hidden]="!form.controls['name'].errors.pattern">>>Name can only contain albhabetic characters</div>
          </div>
      </tr>
      <tr>
      <td><label>Email ID (required) </label></td>
      <td><input type="email" name="email" placeholder="Enter Email" formControlName="email" (blur)="activateError('email')" required></td>
      </tr>
      <tr>
            <td colspan="2">    
            <div [hidden]="!(form.controls['email'].errors && emailError)" class="formError">
                <div [hidden]="!form.controls['email'].errors.required">>>Email cannot be empty</div>
                <div [hidden]="!form.controls['email'].errors.pattern">>>Invalid Email</div>
            </div>
      </tr>
      <tr>
      <td><label>Contact No. </label></td>
      <td><input type="tel" name="mob" placeholder="Enter your Mobile Number" formControlName="mob" (blur)="activateError('mob')"></td>
      </tr>
      <tr>
            <td colspan="2">    
            <div [hidden]="!(form.controls['mob'].errors && mobError)" class="formError">
                <div [hidden]="!form.controls['mob'].errors.minlength">>>Mobile Number cannot be less than 8 characters</div>
                <div [hidden]="!form.controls['mob'].errors.pattern">>>Invalid Mobile Number</div>
            </div>
      </tr>
      </table>
      <label>Message (required)</label><br/>
      <textarea name="message" rows="10" cols="50" placeholder="Enter Message" formControlName="message" required></textarea><br/>
      <hr/>
      <button type="submit" [disabled]="!form.valid">Submit</button>
      </form>     
  </fieldset>
      </div>
      <br/><br/> <br><br/>
<fieldset style="background-color: white; color:#222222;opacity: 0.7">
    
    <div class="offices">
        <div id="head" style="float: left; width: 33%">
    <h2>Head Office</h2>
    <strong>Address:</strong><br/>
    <address>
        Sahay Bank Ltd., Sahay Towers,<br/>
        Connaught Place,<br/>
        New Delhi,<br/>
        India - 110121
    </address><br/>
    <strong>PH: </strong>011-25466484<br/>
    <strong>Email ID: </strong><a class="mail-link" href="mailto:enquiry@sahaybank.com">enquiry@sahaybank.com</a><br>
        </div>

    <div id="Regional Office" style="display: inline-block; width: 33%; text-align: center">
       <h2>Regional Office</h2>
    <strong>Address:</strong><br/>
    <address>
        Sahay Bank Ltd., Block G9,<br/>
        Near XYZ,<br/>
        Mumbai,<br/>
        India - 440121
    </address><br/>
    <strong>PH: </strong>011-25466484<br/>
    <strong>Email ID: </strong><a class="mail-link" href="mailto:enquiry@sahaybank.com">enquiry@sahaybank.com</a><br>
    </div>   

     <div id="Global Office" style="float: right; width: 33%;text-align: right">
       <h2>Global Office</h2>
    <strong>Address:</strong><br/>
    <address>
        Sahay Bank Ltd., Sahay Towers,<br/>
        Mountain View,<br/>
        Los Angeles, California,<br/>
        USA - 940939
    </address><br/>
    <strong>PH: </strong>+1-825466484<br/>
    <strong>Email ID: </strong><a class="mail-link" href="mailto:enquiry_int@sahaybank.co.us">enquiry_int@sahaybank.co.us</a><br>
    </div>   
    </div>
</fieldset>