<div class="forms">
  <fieldset>
      <legend><mark>LOGIN</mark></legend>
      
      <form class="container" name="login" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <table class="form-table">
          <tr>
              <td><label>Customer ID </label></td> 
              <td><input type="number" name="id" placeholder="Enter Customer ID" formControlName="id" required></td>
          </tr>
          <tr>
          <td><label>Password </label></td>
          <td><input type="password" name="password" placeholder="Enter Password" formControlName="password" required></td>
          </tr>
      </table>
          <button type="submit" [disabled]="!form.valid">Login</button>&nbsp;&nbsp;<button type="reset">Clear</button><br/><hr size="3">
          <label>Not a member yet?</label>&nbsp;<a routerLink="signup" class="form-link">Sign Up</a>
        <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://localhost:3000/customers" target="_blank" style="color:green">Forgot Password?</a>-->
          <br><br>
          <span  *ngIf="errorMsg">{{ errorMsg }}</span>
      </form>
     
  </fieldset>
      </div>