<header>
  <div class="header">
    <div id="logoarea"><a routerLink=""><img src="../assets/img/logo.PNG"></a></div>
    <div id="navigation">
      <h3> <a routerLink="home">HOME</a> | <a routerLink="about">ABOUT US</a> | <a routerLink="services">SERVICES</a> | <a routerLink="login">LOGIN</a> | <a routerLink="contact_us">CONTACT US</a></h3>
    </div>
    <div id="tagline"><h5>THE WORLD'S LARGEST BANK</h5></div>
  </div>
</header><br><br><br><br><br><br>
<router-outlet></router-outlet>
<br><br><br>  
<div class="footer">
  <marquee>Copyright &copy; SahayBank Ltd.  All Rights Reserved</marquee>
 </div>